# WK1 pandas Basics <hr style="border:2.5px solid #126782"></hr>

Name: **Ely John Punzalan** <br>
Course: **CPE2A**

pandas - derived from **Panel Data**

Import **pandas** and **numpy** library

In [22]:
import pandas as pd
import numpy as np

Check the **version** of pandas

In [23]:
pd.__version__

'2.2.3'

# Creating Series Object

Create a **list** named **employee_names**

In [24]:
employee_names = ['Ammy White', 'Jack Stewart', 'Richard Lauderdale', 'Sarah Johnson']

Verify that the data type of *employee_names* object as **list**

In [25]:
type(employee_names)

list

Create **pandas Series object** named **employee_names_Series** containing the elements from the *employee_names* list

In [26]:
employee_names_Series = pd.Series(employee_names)
employee_names_Series

0            Ammy White
1          Jack Stewart
2    Richard Lauderdale
3         Sarah Johnson
dtype: object

Verify that the data type of *employee_names_series* object is a **pandas Series**

In [27]:
type(employee_names_Series)

pandas.core.series.Series

Create a Series object named **work_experience_years** directly using the structure **pd.Series([...])** containing the elements: 5, 8, 3, and 10

In [28]:
work_experience_years = pd.Series([5,8,3,10])
work_experience_years

0     5
1     8
2     3
3    10
dtype: int64

## Array to Series

Create a **NumPy Array** object named **array_age**

In [32]:
array_age = np.array([50, 53, 35, 43])
array_age

array([50, 53, 35, 43])

Verify that the data type of *array_age* object is a **NumPy Array**

In [33]:
type(array_age)

numpy.ndarray

Create a **pandas Series** object named **series_age** from *array_age*

In [35]:
series_age = pd.Series(array_age)
series_age

0    50
1    53
2    35
3    43
dtype: int64

Verify that the data type of *series_age* object is **Series**

In [39]:
type(series_age)

pandas.core.series.Series

Use the **print()** function to display the content of *series_age*

In [38]:
print(series_age)

0    50
1    53
2    35
3    43
dtype: int64

# pandas dataFrames

In [ ]:
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age":[50, 53, 35, 43], 
    "Working Experience (Yrs.)":[5,8,3,10]}
df = pd.DataFrame(data)
df
}